.sign-up {
  height: 100%;
  display: grid;
  place-items: center;
}
.sign-up__logo {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 30px 0;
}
.sign-up__wrapper {
  display: grid;
  place-items: center;
  margin: 0 auto;
  width: 400px;
}
.sign-up__gray-area {
  background-color: #f6f8fa;
  border-radius: 5px;
  border: 1px solid #eaecef;
  width: 100%;
  margin-top: 16px;
  padding: 20px;
}
.sign-up__gray-area label {
  font-weight: 600;
}