{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Explore | pergunte.me{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'css/account/explore.css' %}">
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="container users">
  <div class="row">
    <div class="col-md-12">
      <h1>Explore</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <form method="POST">
        {% csrf_token %}
        <div class="row justify-content-end">
          <div class="col-3">
            <select name="order" class="custom-select">
              <option value="" selected>Order</option>
              <option value="asc">Asc</option>
              <option value="desc">Desc</option>
            </select>
          </div>
          <div class="col-1">
            <button
              type="submit"
              name="commit"
              class="btn btn-success"
            >
              Order
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <tbody>
        {% for user in all_users %}
          <tr>
            <td>
              <a href="{% url 'profile' user_username=user.username %}">
                <p><strong>/{{ user.username }}</strong></p>
                <p class="text-muted">{{ user.email }}</p>
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}